*{
  margin: 0;
  font-size: 25px;
}

input[type='text']{
  padding: 5px;
  width: 70%;
  border: none;
  border-bottom: 3px inset #ccc;
}

input[type='text']:focus{
  outline: none;
}

td, tr{
  border: none;
  border-bottom: 3px solid #ccc;
}

td{
  padding: 3px;
  background-color: brown;
}

td>a{
  color: ghostwhite;
  font-family: "Lucida Console", "Courier New", monospace;
}

td:hover{
  background-color: hotpink;
  border: none;
}

td>a:hover{
  color: blue;
  text-decoration: underline;
  font-style: italic;
}

p{
  
}
